.main-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.container-left {
  border: 2px solid white;
  height: 10rem;
  width: 10rem;
  border-radius: 10px;
}

.container-right {
  border: 2px solid white;
  height: 30rem;
  width: 30rem;
  border-radius: 10px;
}

.container-info {
  border: 2px solid white;
  height: 30rem;
  width: 35rem;
  border-radius: 10px;
}
